<div class="px-0 md:px-48">
  <p class="text-xl py-4">
    Welcome to the weather forecast web application. Please login with your
    Github user to use the application and view the weather in your city
  </p>
  <button
    type="button"
    class="mt-4 inline-flex items-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
    (click)="onLogin()"
  >
    Login
  </button>
</div>
