<div class="px-0 md:px-48">
  <table class="min-w-full">
    <thead>
      <tr>
        <th class="border border-slate-300 py-2">Date (mm/dd/yyyy)</th>
        <th class="border border-slate-300 py-2">Temp(F)</th>
        <th class="border border-slate-300 py-2 hidden md:table-cell">Description</th>
        <th class="border border-slate-300 py-2 hidden md:table-cell">Main</th>
        <th class="border border-slate-300 py-2 hidden md:table-cell">Pressure</th>
        <th class="border border-slate-300 py-2 hidden md:table-cell">Humidity</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center" *ngIf="weather$ | async as weather">
        <td class="border border-slate-300 py-2">
          {{ weather.date | date: "MM/dd/YYYY" }}
        </td>
        <td class="border border-slate-300 py-2">
          {{ weather.temperature }}
        </td>
        <td class="border border-slate-300 py-2 hidden md:table-cell">
          {{ weather.description }}
        </td>
        <td class="border border-slate-300 py-2 hidden md:table-cell">
          {{ weather.main }}
        </td>
        <td class="border border-slate-300 py-2 hidden md:table-cell">
          {{ weather.pressure }}
        </td>
        <td class="border border-slate-300 py-2 hidden md:table-cell">
          {{ weather.humidity }}
        </td>
      </tr>
    </tbody>
  </table>

  <button
    type="button"
    (click)="onGoBack()"
    class="mt-14 float-right inline-flex items-center rounded-md border border-transparent bg-gray-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2"
  >
    Back
  </button>
</div>
